<a href="https://colab.research.google.com/github/inesarruda/Atividades-ML-Senac/blob/main/Lista_de_Exerc%C3%ADcios_Aula_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nome = str(input("Nome: "))
print(nome[-1:-(len(nome)+1):-1].upper())

Nome: Maria Inês
SÊNI AIRAM

In [2]:
nome = str(input("Nome: "))
print(nome[::-1].upper())

Nome: Maria Inês
SÊNI AIRAM

In [3]:
print(list(range(1000)))
print(list(range(0, 300, 5)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295]

In [11]:
dict1= {'a':1, 'b':2}

In [12]:
dict2= {'c':4, 'd':5}

In [16]:
listaDict = [list(dict1),list(dict1.values()),list(dict2),list(dict2.values())]

In [17]:
dict3={}

In [18]:
print(listaDict)

[['a', 'b'], [1, 2], ['c', 'd'], [4, 5]]

In [19]:
s = "Hello, World"

In [20]:
print(s.upper())

HELLO, WORLD

In [23]:
t=s.lower()

In [24]:
print(t)

hello, world

In [25]:
s='python'

In [27]:
e='!'
print(s+e*3)

python!!!

In [36]:
ss = '  Hello, World  '

In [37]:
xx=ss.count("1")

In [38]:
print(xx)

0

In [40]:
print("***"+ss.strip()+"***") #strip remove excesso de espaços a direita e a esquerda

***Hello, World***

In [41]:
print("***"+ss.lstrip()+"***")

***Hello, World  ***

In [42]:
print("***"+ss.rstrip()+"***")

***  Hello, World***

In [43]:
news = ss.replace("o", "***")

In [44]:
print(news)

  Hell***, W***rld

In [45]:
food = "banana bread"

In [46]:
print(food.capitalize())

Banana bread

In [47]:
print("*"+food.center(25)+"*")

*       banana bread      *

In [48]:
print("*"+food.ljust(25)+"*")

*banana bread             *

In [49]:
print("*"+food.rjust(25)+"*")

*             banana bread*

#9) Qual a diferença entre os comandos a seguir:
food = 'banana bread'

In [63]:
print(food.find("e")) #O find vai procurar o primeiro caractere que aparece

9

In [64]:
print(food.find("na"))  #Procura a primeira vez que aparece 'na'

2

In [62]:
print(food.find("b")) #Procura a primeira vez que aparece 'b'

0

In [61]:
print(food.rfind("e")) #Procura o caractere 'e' mais a direita

9

In [60]:
print(food.rfind("na")) #Procura os caracteres 'na' mais a direita

4

In [59]:
print(food.rfind("b")) #Procura o caractere 'b' mais a direita

7

#10) Qual a diferença entre os comandos a seguir:

In [65]:
s = "python rocks"

In [66]:
print(s[1]*s.index("n")) #vai printar o valor em s[1] vezes o indice que aparece a letra 'n', que é 5. Ou seja, vai fazer y*5 =yyyyy

yyyyy

In [67]:
pets = "Marlene, Cibele, Suely"

In [68]:
print(pets[0:5])

Marle

In [69]:
print(pets[7:11])

, Ci

In [70]:
print(pets[17:21])

Suel

In [71]:
print('a' in 'a')

True

In [72]:
print('apple' in 'apple')

True

In [73]:
print('' in 'a') #Não entendi porque true

True

In [74]:
print(' ' in 'apple')

False

In [75]:
print('x' not in 'apple')

True

#Lista de Exercícios Listas, Tuplas e Dicionários

In [84]:
palavras = ["codigo", "linguagem", "web"]

In [77]:
numeros = [18,123]

In [78]:
vazia = []

In [79]:
lista_mista =["oi", 2.0, 5*2, [10,20]]

In [80]:
print(numeros)

[18, 123]

In [81]:
print(lista_mista)

['oi', 2.0, 10, [10, 20]]

In [85]:
nova_lista=[numeros,palavras]

In [86]:
print(nova_lista)

[[18, 123], ['codigo', 'linguagem', 'web']]

In [87]:
uma_lista = ["oi", 2.0, 5, [10, 20]]

In [88]:
print(len(uma_lista))

4

In [89]:
print(len(['spam',1,['bolo','bolacha','biscoito'],[1,2,3]]))

4

In [90]:
numeros = [18, 424, 86, 13, 66, 8338, 74]

In [91]:
print(numeros[2]) #printa o que está na posição 02 da lista, que é o número 86

86

In [92]:
print(numeros[9-8]) #print(numero[1]) printa o que está na posição 01

424

In [93]:
print(numeros[-2]) #printa o penultimo elemento da lista

8338

In [97]:
print(numeros[len(numeros)-1]) #numeros[len(numeros)-1] = numeros[6] = 74

74

In [98]:
uma_lista = [3, 5, "Cibele", 3.14, False]

In [100]:
print(len(uma_lista)) #printa o comprimento de uma_lista

5

In [101]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]

In [102]:
print(uma_lista[5]) #vai printar o quinto elemento da lista, nesse caso é 3.14

3.14

In [103]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]

In [105]:
print(uma_lista[2].upper()) #vai printar em letras maiusculas o que está na posição 02 da lista, nesse caso, a palavra "Cibele"

CIBELE

In [106]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]

In [108]:
print(uma_lista[2][0]) #Vai printar o que está na posição zero do que está no segundo elemento.

C

In [109]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]

In [110]:
print(3.14 in uma_lista) #Verifica se 3.14 está contido em uma_lista

True

In [111]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]

In [115]:
print(88 in uma_lista) #verifica se 88 está em uma_lista. Como 88 está em uma lista dentro da lista ele reconhece como False

False

In [116]:
uma_lista = [1, 3, 5]

In [117]:
outra_lista =[2,4,6]

In [118]:
print(uma_lista+outra_lista) #concatena as listas

[1, 3, 5, 2, 4, 6]

In [119]:
uma_lista = [1, 3, 5]

In [120]:
print(uma_lista*3) #vai printar a lista uma_lista três vezes

[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [121]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]

In [122]:
print(uma_lista[4:]) #printa do elemento 04 em diante da lista

[[], 3.14, False]

In [123]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']

In [124]:
uma_lista[1:3] = ['x','y'] #substitui o elemento 01 da lista por X e o elemento dois da lista por Y

In [125]:
print(uma_lista)

['a', 'x', 'y', 'd', 'e', 'f']

In [126]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']

In [129]:
uma_lista[1:3] = [] #Os elementos 01 e 02 da lista vão ser apagadas

In [128]:
print(uma_lista)

['a', 'd', 'e', 'f']

#16. O que é impresso pelo trecho de código a seguir?

In [2]:
uma_lista = ['a', 'd', 'f']

In [3]:
uma_lista[1:1] = ['b', 'c'] #Vai adcionar os elementos 'b' e 'c' na lista a partir da posição 01

In [4]:
print(uma_lista)

['a', 'b', 'c', 'd', 'f']

In [11]:
uma_lista[4:4] = ['e'] #Adciona a letra 'e' na posição 04 da lista

In [6]:
print(uma_lista)

['a', 'b', 'c', 'd', 'e', 'f']

In [7]:
uma_lista = [4, 1, 8, 6, 3]

In [10]:
uma_lista[2] = True #Substitui o elemento 02 da lista por true

In [9]:
print(uma_lista)

[4, 1, True, 6, 3]

In [12]:
a = ['um', 'dois', 'três']

In [13]:
del a[1] #Apaga o que está na posição 01

In [14]:
print(a)

['um', 'três']

In [15]:
lista = ['a', 'b', 'c', 'd', 'e', 'f']

In [16]:
del lista[1:5] #Apaga os elementos 01,02,03 e 04 da lista

In [17]:
print(lista)

['a', 'f']

In [18]:
lista_a = [4, 1, 8, 6, 3]

In [19]:
lista_b = lista_a

In [20]:
lista_b[3] = 22

In [21]:
print(lista_a)

[4, 1, 8, 22, 3]

In [24]:
lista_original = [5, 6, 7, 8]

In [25]:
print(lista_original*3) #printa a lista três vezes

[5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8]

In [26]:
lista_original = [5, 6, 7, 8]

In [27]:
print(lista_original*3) #printa a lista três vezes

[5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8]

In [28]:
lista_nova = [lista_original] * 3

In [31]:
print(lista_nova) #printa a lista três vezes, mas agora cada elemento é a lista porque lista_nova foi impressa três vezes como lista

[[5, 6, 7, 8], [5, 6, 7, 8], [5, 6, 7, 8]]

In [32]:
lista_original = [5, 6, 7, 8]

In [33]:
lista_nova = [lista_original] * 3

In [35]:
print(lista_nova) #printa a nova lista três vezes, cada elemento é lista_original

[[5, 6, 7, 8], [5, 6, 7, 8], [5, 6, 7, 8]]

In [36]:
lista_original[1] = 22 #Substitui o elemento 01 da lista por 22

In [37]:
print(lista_nova)

[[5, 22, 7, 8], [5, 22, 7, 8], [5, 22, 7, 8]]

In [38]:
lista_a = [4, 1, 8, 6, 3]

In [40]:
lista_b = lista_a * 2 #Printa a lista_a duas vezes em uma única lista

In [41]:
lista_b[3] = 35 #Substitui apenas o elmento 03 da lista por 35

In [44]:
print(lista_a)

[4, 1, 8, 6, 3]

In [45]:
lista_a = [4, 1, 8, 6, 3]

In [47]:
lista_b = [lista_a] * 2 #Printa a lista_a duas vezes em uma única lista

In [49]:
lista_a[3] = 35 #Substitui o que está na posição 03 da lista por 35

In [51]:
print(lista_b) #Como lista_b depende da lista_a ela também vai sofrer a alteração

[[4, 1, 8, 35, 3], [4, 1, 8, 35, 3]]

In [52]:
uma_lista = [4, 1, 8, 6, 3]

In [53]:
uma_lista.append(True) #Adciona o elmento True ao final da lista

In [54]:
uma_lista.append(False) #Adciona o elmento False ao final da lista

In [55]:
print(uma_lista)

[4, 1, 8, 6, 3, True, False]

In [56]:
uma_lista = [4, 1, 8, 6, 3]

In [58]:
uma_lista.insert(2,True) #Adciona o elemento True na posição 02 da lista

In [59]:
uma_lista.insert(0,False) #Adciona o elemento False na posição 0 da lista

In [60]:
print(uma_lista)

[False, 4, 1, True, True, 8, 6, 3]

In [68]:
uma_lista = [4, 1, 8, 6, 3]

In [69]:
temp = uma_lista.pop(2) #tira o que está na posição 02 da lista

In [70]:
temp = uma_lista.pop() #Tira o ultimo elemento da lista

In [71]:
print(uma_lista)

[4, 1, 6]

In [82]:
uma_lista = [4, 1, 8, 6, 3]

In [83]:
uma_lista = uma_lista.pop(0) #Agora uma lista assume o valor '4' que foi o valor retirado da posição zero da lista

In [84]:
print(uma_lista)

4